body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  /* forgot about this */
  min-height: 100vh;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ff6347;
  padding: 10px 0;
  font-size: 14px;
}

.footer {
  background-color: #ff6347;
  font-size: 15px;
  padding: 10px 0;
}

.main {
  flex: 1;
  background-color: rgb(245, 241, 241);
}

.food-card img {
  width: 300px;
  height: 200px;
}

.food-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.food-card {
  background-color: white;
  color: black;
  text-align: left;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.food-text {
  padding: 15px;
}

.food-text p {
  color: #555;
}

.food-card:hover {
  transform: scale(1.05);
}
