body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: sans-serif;
}

.menu-toggle {
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: red;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    position: relative;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px 0px;
  }

  .menu.active {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 10px 0px;
  }
}
