* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

/* HEADER ----------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0px 16px;
  background-color: #fff;
}

header div.menu-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  margin-right: 50px;
}

header div.menu-logo img {
  width: 100px;
}

header .search-bar {
  display: flex;
  align-items: center;
  width: 628px;
}

header .search-bar form {
  display: flex;
  width: 100%;
  height: 40px;
}

@media screen and (max-width: 765px) {
  header .search-bar .mic {
    width: 60px;
    height: 40px;
  }

  header .other-icons a {
    padding-left: 10px;
    width: 30px;
  }
}

header .search-bar form input {
  width: 100%;
  border: 1px solid black;
  border-right: none;
  border-radius: 20px 0 0 20px;
  padding-left: 15px;
}
header .search-bar button {
  width: 64px;
  border: 1px solid gray;
  border-radius: 0px 20px 20px 0px;
  padding-top: 4px;
  cursor: pointer;
}
header .search-bar .mic {
  width: 45px;
  height: 40px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
}
header .other-icons {
  display: flex;
}
header .other-icons a {
  text-decoration: none;
  color: black;
  padding-left: 16px;
}

/* CONTENT AREA -------------------------------------------------- */
.content-area {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

/* ASIDE ----------------------------------------- */
aside {
  display: none;
  width: 318px;
  background-color: white;
  height: 91%;
  overflow-y: auto;
}

aside.aside-active {
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-left: 2px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
  margin: 0 5px 0 3px;
}

.nav-link:hover {
  background-color: rgb(241, 243, 241);
  border-radius: 10px;
}

.nav-link span {
  margin-right: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  padding: 0 0 0 20px;
}

.active {
  background-color: rgb(205, 205, 205);
  border-radius: 10px;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 1px;

  margin: 10px 10px;
}

.channel-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

nav p {
  font-size: 1.6rem;
  color: #575757;
  font-weight: 600;
  padding: 8px 16px;
}

/* MAIN VIDEO -------------------------------- */
main {
  width: 100%;
  height: 91%;
  padding: 35px 15px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
  background-color: rgb(242, 242, 242);
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
}
.video {
  width: 350px;
  margin-bottom: 40px;
  cursor: pointer;
  padding-left: 16px;
}
.thumbnail {
  width: 100%;
  height: 188px;
}
.thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.thumbnail img:hover {
  border-radius: 0;
  transition: border-radius 0.3s ease-in-out;
}

.video-details {
  display: flex;
  margin-top: 10px;
}

.creator-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title a {
  text-decoration: none;
}

.video-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.video-creator,
.title span {
  color: gray;
  font: 1.2rem;
  line-height: 1.4rem;
  font-weight: 200;
}

/* MOBILE VIEW */
@media screen and (max-width: 765px) {
  .content-area {
    flex-direction: column;
  }

  aside {
    position: absolute;
    top: 56px;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 100;
    display: none;
    overflow-y: auto;
  }

  aside.aside-active {
    display: block;
  }

  main {
    width: 100%;
  }

  .videos-container {
    justify-content: center;
  }

  .video {
    width: 380px;
  }
}
