@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

html {
  background-color: #00020f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00020f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
}

/* HEADER ------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27.75px 130px;
  width: 1180px;
}

a.logo {
  width: 114.4186019897461px;
  height: 40px;
}

header a {
  text-decoration: none;
  color: #a7adbe;
  font-size: 16px;
}

header nav {
  border-radius: 100px;
  border: 1px solid #242d6b;
  padding: 20px 24px 20px 8px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header a.active {
  color: white;
  font-size: 16px;
  background-color: #131839;
  border: 1px solid #202860;
  border-radius: 100px;
  padding: 12px 16px;
}

header a.btn {
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  background-color: #1a4fff;
  border-radius: 100px;
  padding: 14px 20px;
}

header a.btn span {
  margin-right: 6px;
}

/* HERO --------------------------------------------------- */
section.hero {
  background-image: url(assets/Background\ Image.png);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 1749.1304931640625px;
}

.intro-p {
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
  color: #a7adbe;
  border-top: 1px solid #ffffff1a;
  border-radius: 100px;
  background-color: #ffffff12;
  backdrop-filter: blur(12px);
  box-shadow: 0px 1px 1px 0px #0003124d;
  padding: 8px 8px 8px 16px;
  margin-top: 118px;
  font-family: "Inter Tight", serif;
}

section.hero h1 {
  font-weight: 700;
  font-size: 68px;
  line-height: 81.6px;
  color: #ffffff;
  width: 780px;
  margin-top: 19px;
  margin-bottom: 20px;
  font-family: "Inter Tight", serif;
}

.subtitle {
  color: #a7adbe;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: "Inter Tight", serif;
}

button.buy {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 16px 33px;
  border-radius: 100px;
  background: linear-gradient(#4d76ff, #1a4fff);
  box-shadow: 0px 1px 5px 0px #ffffff4d inset;
  box-shadow: 0px -1px 1px 0px #0000004d inset;
  border: none;
  font-family: "Rethink Sans", sans-serif;
}

.intro-p span {
  color: #ccd8ff;
  font-weight: 500;
  font-family: "Inter Tight", serif;
}

.intro-p span.arrow-btn {
  background-color: #1a4fff;
  border-radius: 100px;
  padding: 4px 10px;
  align-content: end;
  margin-left: 10px;
}

.intro-p span.arrow-btn img {
  width: 16px;
}

section.hero h1 {
  font-weight: 700;
  font-size: 68px;
  line-height: 81.6px;
  color: #ffffff;
  width: 780px;
  margin-top: 19px;
  margin-bottom: 20px;
  font-family: "Inter Tight", serif;
}

.subtitle {
  color: #a7adbe;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: "Inter Tight", serif;
}

button.buy {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 16px 33px;
  border-radius: 100px;
  background: linear-gradient(#4d76ff, #1a4fff);
  box-shadow: 0px 1px 5px 0px #ffffff4d inset;
  box-shadow: 0px -1px 1px 0px #0000004d inset;
  border: none;
  font-family: "Rethink Sans", sans-serif;
}

p.spots {
  color: #6d7792;
  margin-top: 20px;
  font-size: 16px;
}

.circle {
  box-sizing: content-box;
  width: 5px;
  height: 5px;
  background-color: #00ff00;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  border: 4px solid #062e0d;
}

/* IMAGES ----------------------------------------------------------------------------------------------- */
section.images {
  margin-top: 65px;
  height: 349px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 1440px;
}

div.image {
  padding: 5px;
  background: linear-gradient(180deg, #1d2548 10%, #dedede11 90%);
  border-radius: 16px;
  border-top: 1px solid #ffffff2e;
}

div.image img {
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

div.left,
div.left img {
  padding-left: 0;
  border-radius: 0 16px 16px 0;
}

div.right,
div.right img {
  padding-right: 0;
  border-radius: 16px 0 0 16px;
}

div.image-label p {
  font-family: "IBM Plex Mono", sans-serif;
  color: #6d7792;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 19.5px;
}
/* FOOTER ----------------------------------------------------------------------------------------------- */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 77px;
  margin-bottom: 155px;
}

footer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a7adbe;
  margin-top: 10px;
  margin-bottom: 20px;
}
