body {
  width: 600px;
}

.nav-parent {
  background-color: #2c2a27;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  gap: 5px;
}

.ul-style {
  list-style: none;
  display: flex;
  font-family: sans-serif;
}

.ul-style > li {
  margin-right: 20px;
}

.error-message {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.sub-menu {
  color: rgb(193, 192, 192);
  font-size: 15px;
  margin: 0;
  padding: 10px;
}

.multi-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}
