body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(52, 53, 53);
}

header ol {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 10px;
}

header ol li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div.welcome {
  background-color: rgb(120, 208, 255);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.welcome .welcome-content {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.welcome h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
  margin: 30px;
}

div.welcome p {
  text-align: center;
}

div.welcome img {
  display: flex;
  border-radius: 20px;
  margin: 30px;
}

div.projects {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.projects .project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

div.projects .project-card {
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(145, 145, 145);
  overflow: hidden;
  width: 300px;
}

div.projects .project-card .content {
  padding: 20px;
}

footer {
  background-color: rgb(52, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

footer .footer-links {
  padding: 0px;
}

footer .footer-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

footer p {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px;
  color: white;
}
