body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
}

button:hover {
  opacity: 0.5;
}
